language: android
android:
  components:
  - build-tools-26
  - build-tools-27.0.3
  - android-26
  - android-27
  - extra
licenses:
- android-sdk-preview-license-.+
- android-sdk-license-.+
- google-gdk-license-.+


before_install:
- yes | sdkmanager "platforms;android-27"
- chmod +x gradlew
- chmod +x .travis/release.sh
install:
- "./gradlew assemble"
#script:
#- "./gradlew :facebook:test -i"

stages:
  - release

jobs:
  include:
    - stage: release
      name: GitHub
      #script: .travis/fetch_version.sh
      deploy:
        #- provider: releases
        #  skip_cleanup: true
        #  file_glob: true
        #  api_key: $api_key
        #  file_glob: true
        #  name: Facebook SDK $TRAVIS_TAG
        #  on:
        #    all_branches: true
        #    tags: true
        - provider: script
          script: ./gradlew :facebook:test -i
          script:  openssl aes-256-cbc -K $encrypted_e83d0815cd6c_key -iv $encrypted_e83d0815cd6c_iv -in secring.gpg.enc -out secring.gpg -d
          script: .travis/release.sh deploy-to-maven
          on:
            all_branches: true
            #tags: true
env:
  global:
  - # GPG_KEY_ID
  - secure: b54RmQZS4+RqvJGLM5tlosWshEQmygOpcpcVE2UXKdDuk0OHPwk+67dn20mbCOhdZJc0MQ51ot6jAPTnFzKqgnwb37KIgxWOTzVzv0uxWJ7SWI/5AU4CdU3G1s24PGZcDOJ0sfWCyH8xArnJToH0pBIo4PHeB6csGtKsgKp7aVM=
  - # GPG_KEY_PASSPHRASE
  - secure: CqDRGAfI/gwsUzgLTbrqfX+VMsLnOuk/aoH6fXMW8lqE55/aJzHqdhuOuiVvJsBa+tVuxV06FI/3AZKYxzYgNt55lNU6JurOSeawE5WN8zhKdSNxtKlFypRQqAV0Od5MXrTY6pKgc3JSoM2WOx8+8AUaYMfycv4qNyu14E47n90=
  - # NEXUS_USERNAME
  - secure: B7LncUtbP4gpLDa2aMFLnVKcAWzp76ZRAH5EHPFVP70UCEMJjPnTxP/OPV8QOFdNW98duuro8XQrr7CEjVaYWcLddyp8WZpulnj8OtqzlaQ2HSWQYdZPPBdWeTj20B994nPGaqg1N0t0ojdH6zj7cOIE2kqro7RrRYovpYq6bVk=
  - # NEXUS_PASSWORD
  - secure: OhGzIa1cnT7n6f8MatrhyeJ0KldqB+KsrE47L35+yq9KiuVCZ/4CEawwrtxNVJn02lrue/0ZM9Ya9UwfMy6kCv3rx7rkNyj6ySylUqRjkfOZheN8QkS4ujsDZTYZyROxtc3ISO1hunIzxXsOeGCopPC3FaVbLQeupa3v/5HJrQ0=
  - secure: oHZV4nhHYVfgxtQbJKqJ+tNkQ21e1cM0V9Q/NrAWt4dMWUgegkWNd7uI8tWaN2WSdD5eDVq2qdSg46wAnyEQDtQDiWjcvnxcuqF8lHsouBaOZs3TuLx/mRF4HzW18GfJeTRS67Upy4WqVjecdyn42azdXmNz4s8MH3gpD/Ci7pg=
